<!DOCTYPE html>
<html lang="jq">
    <head>
        <meta charset="UTF-8">
        <title>おみくじ</title>
    </head>
    <body>
        <ha>おみくじ</ha>
        <P>おみくじの結果 : 無し</P>
        <form action="/" method="POST">
            <button type="submit" name="act" value="draw">おみくじをひく!</button>
        </form>
    </body>
</html>